.projects-cotainer {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 80%;

        margin-top: 20px;

        font-size: 20px;

        .title {
            font-weight: 500;
            width: 30%;
        }

        .divider {
            width: 20px;
        }

        .description {
            width: 70%;
        }

    }
}