.about-container {
    // Alignment
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Margins
    margin-top: 10px;

    .about-item {
        padding-top: 30px;
        max-width: 500%;
        font-size: 20px;
    }

    .header {
        font-size: 30px;
        font-weight: 600;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-header {
            // Alignment
            display: flex;
            flex-direction: row;

            .section-header-icon {
                width: 25px;
            }

            .section-header-text {
                // Font
                font-size: 22px;
                font-weight: 600;

                // Margin
                margin-right: 10px;
            }
        }

        .section-content {
            margin-top: 5px;
        }
    }
}
