.hello-msg {
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: "Inconsolata", monospace;
    font-size: 60px;

    background-color: var(--secondary-color);
    color: #ffffff;

    padding: 100px 0;
}
